@model IEnumerable<TodoAppWith_EF.Models.TodoList>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add new Todo Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                DateCreated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                item.Title
            </td>
            <td>
                item.Description
            </td>
            <td>
                item.DateCreated
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
